/* Color palette */

:root {
	--lipstick: #e11e25;
}

/* Text styles */

title {
	font-family: HelveticaNeue;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #030303;
}

.button-secondary {
	font-family: HelveticaNeue;
	font-size: 17px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.3px;
	color: #037aff;
}

header {
	font-family: SFUIText;
	font-size: 17px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -0.4px;
	color: #ffffff;
}

.form-legend {
	font-family: AvenirNext;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #4a4a4a;
}

.form-inpukk {
	font-family: AvenirNext;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #4a4a4a;
}

.notification-content {
	font-family: HelveticaNeue;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.4px;
	color: #000000;
}

body {
	padding-top: 50px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

#well-black {
	background-color: black;
	height: 36px;
}