<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Service Now</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/NaturalLanguageForm/css/component.css" />
<!-- endbower -->
<!-- font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<!-- endfont -->
<!-- inject:css -->
<link rel="stylesheet" href="styles/styles.css">
<!-- endinject -->
</head>

<body ng-controller="IndexController as indexCtrl">
	<!-- Nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Service Now</a>
			</div>
			<ul class="nav navbar-nav navbar-left nav-pills">
				<li ng-repeat="items in indexCtrl.nav"><a href="#">{{items}}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right nav-pills">
				<li ng-repeat="items in indexCtrl.navUser"><a href="#">{{items}}</a></li>
			</ul>
		</div>
	</nav>
	
	<!-- Search bar -->
	<div class="container-fluid" id="well-black">
		<input type="text" class="form-control input-sm" placeholder="Search Solution Center...">
	</div>

	<!-- Welcome banner -->
	<div class="container-fluid" id="hero">
		<p class="welcome-cory-what text-center">Welcome, <span class="text-style-1">Cory!</span> What would you like to accomplish today?</p>
	</div>

	<br>

	<!-- Solution Section -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
				<form id="nl-form" class="nl-form">
					<p class="i-need-a-solution-fo">I need a 
					<!-- Natural language form version -->
					<!-- <select ng-model="indexCtrl.selectedSolution" class="text-style-2">
						<option value="1" selected>solution</option>
						<option value="2">solution win</option>
					</select> -->
					<!-- <pre>{{indexCtrl.selectedSolution}}</pre> -->

					<select ng-model="indexCtrl.selectedSolution" ng-options="solution.key for solution in indexCtrl.solutionOptions" class="text-style-2">
					</select>
					for 
					<!-- Industries when solution is selected -->
					<select ng-model="indexCtrl.industry" ng-if="indexCtrl.selectedSolution == indexCtrl.solutionOptions[0]" class="text-style-2">
						<option value="" selected>any industry</option>
						<option ng-repeat="solution in indexCtrl.solutions | orderBy: 'industry' | filter: indexCtrl.product | unique: 'industry'">{{solution.industry}}</option>
					</select>
					<!-- Industries when solution win is selected -->
					<select ng-model="indexCtrl.industry" ng-if="indexCtrl.selectedSolution == indexCtrl.solutionOptions[1]" class="text-style-2">
						<option value="" selected>any industry</option>
						<option ng-repeat="win in indexCtrl.wins | orderBy: 'industry' | filter: indexCtrl.product | unique: 'industry'">{{win.industry}}</option>
					</select>
					and 
					<!-- Products when solution is selected -->
					<select ng-model="indexCtrl.product" ng-if="indexCtrl.selectedSolution == indexCtrl.solutionOptions[0]" class="text-style-2">
						<option value="" selected>any product</option>
						<option ng-repeat="solution in indexCtrl.solutions | orderBy: 'product' | filter: indexCtrl.industry | unique: 'product'">{{solution.product}}</option>
					</select>
					<!-- Products when solution win is selected -->
					<select ng-model="indexCtrl.product" ng-if="indexCtrl.selectedSolution == indexCtrl.solutionOptions[1]" class="text-style-2">
						<option value="" selected>any product</option>
						<option ng-repeat="win in indexCtrl.wins | orderBy: 'product' | filter: indexCtrl.industry | unique: 'product'">{{win.product}}</option>
					</select>.
					</p>
					<button class="rectangle-21 find-it" type="submit">Find it!</button>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div>

		<!-- Horizontal bar -->
		<div class="row">
			<div class="col-xs-12 col-md-2 col-md-offset-5">
				<br><hr><br>
			</div>
		</div>

		<!-- Submit and view solution/wins -->
		<div class="row">
			<div class="col-xs-6 col-md-2 col-md-offset-4 text-center">
				<img src="/images/lightbulb-sm.png" alt="light bulb image" class="img-circle">
				<br><br>
				<a href="#">Submit a Solution</a>
				<br><br>
				<a href="#">View my Solutions</a>
			</div>
			<div class="col-xs-6 col-md-2 text-center" class="img-circle">
				<img src="/images/trophy-sm.png" alt="trophy image">
				<br><br>
				<a href="#">Submit a Solution Win</a>
				<br><br>
				<a href="#">View my Solution Wins</a>
			</div>
		</div>
		<div class="row" id="spacing"></div>
	</div>

	<!-- Footer section -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-4">
					<table class="table" style="width: 100%">
						<tr>
							<td><small><a href="#">Solution</a></small></td>
							<td><small><a href="#">Standard View</a></small></td>
							<td><small><a href="#">Create an Incident</a></small></td>
						</tr>
						<tr>
							<td><small><a href="#">Solution Wins</a></small></td>
							<td><small><a href="#">Demo Center</a></small></td>
						</tr>
						<tr>
							<td><small><a href="#">People</a></small></td>
						</tr>
						<tr>
							<td><small><a href="#">Enablement</a></small></td>	
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>



<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/NaturalLanguageForm/js/nlform.js"></script>
<script src="bower_components/NaturalLanguageForm/js/modernizr.custom.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="app/app.module.js"></script>
<script src="app/core/index.factory.js"></script>
<script src="app/index.controller.js"></script>
<!-- endinject -->	
<!-- Natural Language -->
<script>
	var nlform = new NLForm( document.getElementById( 'nl-form' ) );
</script>
</body>
</html>